body {
  font-family: Patrick Hand;
  margin: 0;
  padding: 0;
}

label {
  font-size: 20px;
}

.header {
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
}

.subtitle {
  font-size: 30px;
  margin: 0px;
}

.range-container {
  margin: 20px auto;
  border: 2px solid black;
  width: 40%;
  padding: 10px 30px;
}

.range-notice {
  font-size: 20px;
}

.range-flex,
.p1-flex,
.p2-flex {
  display: flex;
  justify-content: space-between;
}

.guess-container {
  margin: 20px auto;
  border: 2px solid black;
  width: 40%;
  padding: 10px 30px;
}

.score-container {
  margin: 20px auto;
  border: 2px solid black;
  width: 40%;
  padding: 10px 30px;
}

.score-flex {
  display: flex;
  justify-content: space-around;
}

.p1-score-container,
.p2-score-container {
  border: 1px solid black;
  padding: 20px 20px;
}

.range-title,
.challenger-title,
.score-title {
  margin: 0px;
  font-size: 26px;
  padding: 10px 0px;
}

.winner {
  text-align: center;
  font-size: 20px;
  margin: 5px 0px;
}
