body {
  font-family: Patrick Hand;
  margin: 0;
  padding: 0;
  background-image: url('app-bg.jpg')
}

h1, h2, h3, h4, p {
  margin: 2px 0px;
}

label {
  font-size: 20px;
  padding-bottom: 3px;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px 6px;
  border: 1px solid #689798;
  border-radius: 10px;
}

input {
  font-size: 14px;
  border: 1px solid #689798;
  border-radius: 8px;
  text-align: center;
}

.header {
  text-align: center;
}

.master-flex {
  display: flex;
  vertical-align: center;
  align-items: center;
  width: 72%;
  margin: 0 auto;
  justify-content: space-between;
}

.p1-flex,
.p2-flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.p1-name-flex,
.p1-guess-flex,
.p2-name-flex,
.p2-guess-flex,
.min-range-flex,
.max-range-flex {
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title {
  font-size: 65px;
  font-weight: bold;
  margin: 0px;
}

.subtitle {
  font-size: 40px;
  margin: 0px;
}

.range-container {
  margin: 20px 40px;
  border: 4px solid #689798;
  width: 400px;
  text-align: center;
  background-image: linear-gradient(-180deg, white, #E0F6F5);
}

.range-flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.range-notice {
  font-size: 25px;
  text-align: center;
  margin: 10px 0px;
}

.guess-container {
  margin: 20px auto;
  border: 4px solid #689798;
  padding: 10px 30px;
  width: 380px;
  background-image: linear-gradient(-90deg, white, #E0F6F5);
}

.button-container { 
  text-align: center;
}

.score-container {
  margin: 20px auto;
  width: 40%;
  padding: 10px 30px;
}

.p1-score-container,
.p2-score-container {
  border: 4px solid #689798;
  padding: 20px 20px;
  width: 200px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(white, #E0F6F5);
}

.p1-score-name,
.p2-score-name {
  font-size: 50px;
  color: #689798;
}

.p1-current-guess,
.p2-current-guess {
  font-size: 20px;
}

.p1-guess-num,
.p2-guess-num {
  font-size: 70px;
  font-weight: bold;
  color: #16BA6D;
}

.p1-hot-cold,
.p2-hot-cold {
  font-size: 30px;

}

.hippo-flex {
  display: flex;
  flex-direction: column;
}

.range-title,
.challenger-title,
.score-title {
  text-align: center;
  font-size: 32px;
  color: #689798;
}

.winner {
  text-align: center;
  font-size: 50px;
  margin: 0px;
}

.img-1 {
  height: 200px;
  width: 270px;
  margin-bottom: 20px;
}

.img-2 {
  height: 200px;
  width: 273px;
  margin-bottom: 20px;
}

.img-1,
.img-2 {
  border: 4px solid #689798;
  border-radius: 5px;
}
